@font-face {
  font-family: "iconfont"; /* Project id 3567086 */
  src: url('iconfont.woff2?t=1661438905500') format('woff2'),
       url('iconfont.woff?t=1661438905500') format('woff'),
       url('iconfont.ttf?t=1661438905500') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icnext:before {
  content: "\e63f";
}

.icon-wenjian_txt:before {
  content: "\e60f";
}

.icon-J:before {
  content: "\e653";
}

.icon-debugstepinto:before {
  content: "\e7b0";
}

.icon-debug-step-over:before {
  content: "\e6ef";
}

.icon-debug-step-out:before {
  content: "\e6f0";
}

.icon-xiayige:before {
  content: "\e60d";
}

.icon-down_light:before {
  content: "\e7ed";
}

.icon-weibiaoti-7-01:before {
  content: "\e8a8";
}

.icon-java2:before {
  content: "\e66a";
}

.icon-search:before {
  content: "\e6d0";
}

.icon-a-videoplay:before {
  content: "\e6d2";
}

.icon-a-videoplay1:before {
  content: "\e6d6";
}

.icon-end:before {
  content: "\e6d7";
}

.icon-socialjavascript:before {
  content: "\e90a";
}

.icon-project-copy:before {
  content: "\e600";
}

.icon-file-list-fill:before {
  content: "\e76e";
}

.icon-folder:before {
  content: "\e698";
}

.icon-file-fill:before {
  content: "\ebab";
}

.icon-home:before {
  content: "\e60e";
}

.icon-home1:before {
  content: "\e7a7";
}

.icon-Files:before {
  content: "\e756";
}

.icon-download2:before {
  content: "\e6fd";
}

.icon-upload2:before {
  content: "\e6e9";
}

.icon-set:before {
  content: "\e617";
}

.icon-renamebox:before {
  content: "\ea44";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-cloud-download:before {
  content: "\e7d9";
}

.icon-download:before {
  content: "\e7ef";
}

.icon-python:before {
  content: "\f216";
}

.icon-rename:before {
  content: "\e62a";
}

.icon-download1:before {
  content: "\e6e6";
}

.icon-setup_fill:before {
  content: "\e728";
}

.icon-java:before {
  content: "\e623";
}

.icon-java1:before {
  content: "\e639";
}

.icon-matlab:before {
  content: "\e674";
}

.icon-upload:before {
  content: "\e682";
}

.icon-upload1:before {
  content: "\e6a9";
}

.icon-DarkTheme:before {
  content: "\e65a";
}

.icon-dark:before {
  content: "\e997";
}

.icon-dark-full:before {
  content: "\e998";
}

.icon-Python:before {
  content: "\e891";
}

